body {
  background-image: url(img/redpanda.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: maroon;
  background-attachment: fixed;
}

#wrapper {
  width: 85%;
  margin: 0 auto;
}

h1 {
  font-size: 32pt;
  color: #035555;
  background-color: bisque;
  text-align: center;
}

h2 {
  color: bisque;
  font-size: 24pt;
  text-align: center;
}

p {
  text-align: center;
}

.first-paragraph {
  background-color: bisque; color: maroon;
}

.second-paragraph {
  background-color: bisque; color: #035555;
}